# Web Scraping - Assignment 2

In [10]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\user\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\user\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\user\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.2.post1)
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests) (1.26.14)

QUESTION 1

In [11]:
"""Write a python program to display all the header tags from wikipedia.org and make data frame."""

from bs4 import BeautifulSoup
import requests

#Sending get request to the webpage server to get the source code of the page
page = requests.get('https://en.wikipedia.org/wiki/Main_Page')

#Page content
soup = BeautifulSoup(page.content)

#Scraping header tags
headers = []
for i in soup.find_all('h2',class_="mp-h2"):
    headers.append(i.text)
headers

#Making Dataframe
import pandas as pd
df = pd.DataFrame({'Headers':headers})
df

                         Headers
0  From today's featured article
1               Did you know ...
2                    In the news
3                    On this day
4     From today's featured list
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

QUESTION 2

In [3]:
'''Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice)
from https://presidentofindia.nic.in/former-presidents.htm and make data frame.'''

#Sending get request to the webpage server to get the source code of the page
page1 = requests.get('https://presidentofindia.nic.in/former-presidents')
page1

#Page content
soup1 = BeautifulSoup(page1.content)
soup1

first = soup1.find('div',class_="desc-sec")

#Scraping header tags
presidents = []
for i in soup1.find_all('div',class_="desc-sec"):
    presidents.append(i.text.replace('\n',' '))

presidents

#Making Dataframe
import pandas as pd
df1 = pd.DataFrame({'Former Presidents of India':presidents})
df1

                           Former Presidents of India
0       Shri Ram Nath Kovind 14th President of India
1      Shri Pranab Mukherjee 13th President of India
2    Smt Pratibha Devisingh Patil 12th President o...
3     DR. A.P.J. Abdul Kalam 11th President of India
4       Shri K. R. Narayanan 10th President of India
5    Dr Shankar Dayal Sharma 9th  President of India
6         Shri R Venkataraman 8th President of India
7            Giani Zail Singh 7th President of India
8    Shri Neelam Sanjiva Reddy 6th President of In...
9    Dr. Fakhruddin Ali Ahmed 5th President of India
10   Shri Varahagiri Venkata Giri 4th President of...
11           Dr. Zakir Husain 3rd President of India
12   Dr. Sarvepalli Radhakrishnan 2nd President of...
13        Dr. Rajendra Prasad 1st President of India

QUESTION 3

In [136]:
'''Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame.
a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
b) Top 10 ODI Batsmen along with the records of their team and rating.
c) Top 10 ODI bowlers along with the records of their team and rating.'''

#a) Top 10 ODI teams in men's cricket along with the records for matches, points and rating.
page2 = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page2

#Page content
soup2 = BeautifulSoup(page2.content)
soup2
 
first2 = soup2.find('td',class_="rankings-block__banner--matches")
b = first2.text
first3 = soup2.find('td',class_="rankings-block__banner--points")
c = first3.text
actual_ratings = ['118']
matches_points = [b,c]

teams = []
for i in soup2.find_all('span',class_="u-hide-phablet"):
    teams.append(i.text)
t = teams[:10]
t

matches = []
for i in soup2.find_all('td',class_="table-body__cell u-center-text"):
    matches.append(i.text)
matches
matches_points.extend(matches)
matches_and_points = matches_points
matches1 = matches_points[0:39:2]
points1 = matches_points[1:39:2]
m1 = matches1[:10]
p1 = points1[:10]

ratings = []
for i in soup2.find_all('td',class_="table-body__cell u-text-right rating"):
    ratings.append(i.text)
ratings
actual_ratings.extend(ratings)
actual_ratings1 = actual_ratings
a_r1 = actual_ratings1[:10]

import pandas as pd
df = pd.DataFrame({'Teams':t,'Matches':m1,'Points':p1,'Ratings':a_r1})
df

          Teams Matches Points Ratings
0         India      49  5,839     118
1     Australia      36  4,015     112
2      Pakistan      32  3,525     110
3  South Africa      29  3,166     109
4   New Zealand      38  4,007     105
5       England      34  3,377      99
6     Sri Lanka      43  3,943      92
7    Bangladesh      40  3,574      89
8   Afghanistan      26  2,170      83
9   West Indies      38  2,582      68

In [137]:
#b) Top 10 ODI Batsmen along with the records of their team and rating.
page3 = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')

soup3 = BeautifulSoup(page3.content)

batsmen = []
for i in soup3.find_all('td',class_="table-body__cell rankings-table__name name"):
    batsmen.append(i.text.replace('\n',''))
batsmen.insert(0,'Babar Azam')
b = batsmen[:10]


rating = []
for i in soup3.find_all('td',class_="table-body__cell rating"):
    rating.append(i.text)
rating.insert(0,'829')
r= rating[:10]


record = []
for i in soup3.find_all('td',class_="table-body__cell u-text-right u-hide-phablet"):
    record.append(i.text.replace(' ','').replace('\n',''))
record.insert(0,'898vWestIndies,10/06/2022')
re = record[:10]



import pandas as pd
df = pd.DataFrame({'Batsmens':b,'Ratings':r,'Records':re})
df

                Batsmens Ratings                    Records
0             Babar Azam     829  898vWestIndies,10/06/2022
1           Shubman Gill     823   847vAustralia,24/09/2023
2        Quinton de Kock     769    813vSriLanka,10/03/2019
3       Heinrich Klaasen     756  756vBangladesh,24/10/2023
4           David Warner     747    880vPakistan,26/01/2017
5            Virat Kohli     747     911vEngland,12/07/2018
6           Harry Tector     729     729vEngland,23/09/2023
7           Rohit Sharma     725    885vSriLanka,06/07/2019
8  Rassie van der Dussen     716     796vEngland,19/07/2022
9            Imam-ul-Haq     704  815vWestIndies,12/06/2022

In [138]:
#c)Top 10 ODI bowlers along with the records of their team and rating.
page4 = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')

soup4 = BeautifulSoup(page4.content)

bowlers = []
for i in soup4.find_all('td',class_="table-body__cell rankings-table__name name"):
    bowlers.append(i.text.replace('\n',''))
bowlers
bowlers.insert(0,'Josh Hazlewood')
bo = bowlers[:10]

rating = []
for i in soup4.find_all('td',class_="table-body__cell rating"):
    rating.append(i.text)
rating
rating.insert(0,'670')
r= rating[:10]

record = []
for i in soup4.find_all('td',class_="table-body__cell u-text-right u-hide-phablet"):
    record.append(i.text.replace(' ','').replace('\n',''))
record
record.insert(0,'733vEngland,26/01/2018')
re = record[:10]


import pandas as pd
df = pd.DataFrame({'Bowlers':bo,'Ratings':r,'Records':re})
df

          Bowlers Ratings                     Records
0  Josh Hazlewood     670      733vEngland,26/01/2018
1  Mohammed Siraj     668   736vNewZealand,21/01/2023
2  Keshav Maharaj     656   656vBangladesh,24/10/2023
3     Rashid Khan     654     806vPakistan,21/09/2018
4     Trent Boult     653    775vAustralia,11/09/2022
5   Mohammad Nabi     641     657vZimbabwe,09/06/2022
6      Adam Zampa     635  670vSouthAfrica,09/09/2023
7      Matt Henry     634   691vBangladesh,26/03/2021
8   Kuldeep Yadav     632   765vNewZealand,26/01/2019
9  Shaheen Afridi     625   688vWestIndies,10/06/2022

QUESTION 4

In [139]:
'''Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame.
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
b) Top 10 women’s ODI Batting players along with the records of their team and rating.
c) Top 10 women’s ODI all-rounder along with the records of their team and rating.'''

#a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
page = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

#Page content
soup1 = BeautifulSoup(page.content)
 
teams = []
for i in soup1.find_all('span',class_="u-hide-phablet"):
    teams.append(i.text)
teams
te = teams[:10]


matches_points = []
for i in soup1.find_all('td',class_="table-body__cell u-center-text"):
    matches_points.append(i.text)
matches_points.insert(0,'19')
matches_points.insert(1,'3,084')
m_p = matches_points
m1 = m_p[0:26:2]
p1 = m_p[1:26:2]
m2 = m1[:10]
p2 = p1[:10]

ratings = []
for i in soup1.find_all('td',class_="table-body__cell u-text-right rating"):
    ratings.append(i.text)
ratings.insert(0,'162')
r = ratings[:10]


import pandas as pd
df = pd.DataFrame({'Teams':te,'Matches':m2,'Points':p2,'Ratings':r})
df

          Teams Matches Points Ratings
0     Australia      19  3,084     162
1       England      23  2,991     130
2  South Africa      21  2,446     116
3         India      18  1,745      97
4   New Zealand      21  2,014      96
5   West Indies      18  1,610      89
6     Sri Lanka       9    714      79
7    Bangladesh      11    816      74
8      Thailand      11    753      68
9      Pakistan      21  1,435      68

In [140]:
#b)Top 10 women’s ODI Batting players along with the records of their team and rating.
page1 = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')

soup2 = BeautifulSoup(page1.content)

w_batsmen = []
for i in soup2.find_all('td',class_="table-body__cell rankings-table__name name"):
    w_batsmen.append(i.text.replace('\n',''))
w_batsmen
w_batsmen.insert(0,'Natalie Sciver-Brunt')
w_b = w_batsmen[:10]

rating = []
for i in soup2.find_all('td',class_="table-body__cell rating"):
    rating.append(i.text)
rating
rating.insert(0,'807')
r= rating[:10]

record = []
for i in soup2.find_all('td',class_="table-body__cell u-text-right u-hide-phablet"):
    record.append(i.text.replace(' ','').replace('\n',''))
record
record.insert(0,'807vSriLanka,14/09/2023')
re = record[:10]


import pandas as pd
df = pd.DataFrame({'Female Batsmen':w_b,'Ratings':r,'Records':re})
df

         Female Batsmen Ratings                    Records
0  Natalie Sciver-Brunt     807    807vSriLanka,14/09/2023
1           Beth Mooney     750     776vEngland,12/07/2023
2   Chamari Athapaththu     736  758vNewZealand,03/07/2023
3       Laura Wolvaardt     727   741vAustralia,22/03/2022
4       Smriti Mandhana     708     797vEngland,28/02/2019
5          Alyssa Healy     698     785vEngland,03/04/2022
6          Ellyse Perry     697  766vWestIndies,11/09/2019
7      Harmanpreet Kaur     694     731vEngland,21/09/2022
8           Meg Lanning     662  834vNewZealand,24/02/2016
9        Marizanne Kapp     642  642vNewZealand,01/10/2023

In [141]:
#c) Top 10 women’s ODI all-rounder along with the records of their team and rating.
page2 = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')

soup3 = BeautifulSoup(page2.content)

w_all_rounder = []
for i in soup3.find_all('td',class_="table-body__cell rankings-table__name name"):
    w_all_rounder.append(i.text.replace('\n',''))
w_all_rounder
w_all_rounder.insert(0,'Marizanne Kapp')
w_ar = w_all_rounder[:10]

rating = []
for i in soup3.find_all('td',class_="table-body__cell rating"):
    rating.append(i.text)
rating
rating.insert(0,'385')
r= rating[:10]

record = []
for i in soup3.find_all('td',class_="table-body__cell u-text-right u-hide-phablet"):
    record.append(i.text.replace(' ','').replace('\n',''))
record
record.insert(0,'419vWestIndies,10/09/2021')
re = record[:10]

import pandas as pd
df = pd.DataFrame({'Female All-Rounder':w_ar,'Ratings':r,'Records':re})
df

     Female All-Rounder Ratings                     Records
0        Marizanne Kapp     385   419vWestIndies,10/09/2021
1      Ashleigh Gardner     377   391vWestIndies,08/10/2023
2  Natalie Sciver-Brunt     360    421vAustralia,18/07/2023
3       Hayley Matthews     358      392vIreland,26/06/2023
4           Amelia Kerr     346   356vWestIndies,25/09/2022
5         Deepti Sharma     312  397vSouthAfrica,09/10/2019
6          Ellyse Perry     282   548vWestIndies,11/09/2019
7         Jess Jonassen     227   308vWestIndies,11/09/2019
8         Sophie Devine     227    305vAustralia,05/10/2020
9              Nida Dar     224    232vAustralia,21/01/2023

QUESTION 5

In [144]:
'''Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and
make data frame
i) Headline
ii) Time
iii) News Link'''

page = requests.get('https://www.cnbc.com/world/?region=world')
soup = BeautifulSoup(page.content)
#HEADLINE
headline = []
for i in soup.find_all('a',class_="LatestNews-headline"):
    headline.append(i.text)
h = headline[:10]

#TIME
time = []
for i in soup.find_all('span',class_="LatestNews-wrapper"):
    time.append(i.text)
t = time[:10]

#News Link
anchor_tags = soup.find_all('a',class_="LatestNews-headline")
urls = [tag.get('href') for tag in anchor_tags if tag.get('href')]
urls1 = urls[:10]

import pandas as pd
df = pd.DataFrame({'News Headline':h,'Time it got published':t,'Link to the news':urls1})
df

#Please run the code again for latest updates

,News Headline,Time it got published,Link to the news
0,Jobs and earnings are major themes next week a...,25 Min Ago,https://www.cnbc.com/2023/10/28/jobs-earnings-...
1,Here's Americans' net worth at every age—for p...,26 Min Ago,https://www.cnbc.com/2023/10/28/americans-medi...
2,Psychologist: Here's my No.1 brain hack for cr...,56 Min Ago,https://www.cnbc.com/2023/10/28/uchicago-psych...
3,Routine S&P 500 correction or something more s...,1 Hour Ago,https://www.cnbc.com/2023/10/28/analyzing-the-...
4,Why it's so expensive to be single in the U.S.,1 Hour Ago,https://www.cnbc.com/2023/10/28/why-its-so-exp...
5,Use this Google feature to detect and delete y...,1 Hour Ago,https://www.cnbc.com/2023/10/28/how-to-delete-...
6,Reddit co-founder: Most successful people shar...,1 Hour Ago,https://www.cnbc.com/2023/10/28/reddit-co-foun...
7,'Earn Your Leisure' hosts: It may take $10 mil...,2 Hours Ago,https://www.cnbc.com/2023/10/28/earn-your-leis...
8,Coke and Pepsi stocks are struggling — but one...,2 Hours Ago,https://www.cnbc.com/2023/10/28/coke-and-pepsi...
9,Israel-Hamas war is affecting the financial ou...,3 Hours Ago,https://www.cnbc.com/2023/10/28/israel-hamas-w...

QUESTION 6

In [145]:
'''Write a python program to scrape the details of most downloaded articles from AI in last 90
days.
https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Scrape below mentioned details and make data frame
i) Paper Title
ii) Authors
iii) Published Date
iv) Paper URL'''

page1 = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
soup1 = BeautifulSoup(page1.content)

#Paper Title
paper_title = []
for i in soup1.find_all('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    paper_title.append(i.text)
paper_title

#Authors
authors = []
for i in soup1.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):
    authors.append(i.text)
authors

#Published date
pub_date = []
for i in soup1.find_all('span',class_="sc-1thf9ly-2 dvggWt"):
    pub_date.append(i.text)
pub_date

#Paper URL
anchor_tags = soup1.find_all('a',class_="sc-5smygv-0 fIXTHm")
urls = [tag.get('href') for tag in anchor_tags if tag.get('href')]
urls

import pandas as pd
df = pd.DataFrame({'Paper Titles':paper_title,'Authors':authors,'Published Date':pub_date,'Paper URL':urls})
df

,Paper Titles,Authors,Published Date,Paper URL
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,https://www.sciencedirect.com/science/article/...
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
17,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,https://www.sciencedirect.com/science/article/...
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...

QUESTION 7

In [146]:
'''Write a python program to scrape mentioned details from dineout.co.in and make data frame.
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL'''

page2 = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
soup2 = BeautifulSoup(page2.content)

#Restaurant name
res_name = []
for i in soup2.find_all('a',class_="restnt-name ellipsis"):
    res_name.append(i.text)
res_name

#Cuisine
cuisine = []
for i in soup2.find_all('span',class_="double-line-ellipsis"):
    cuisine.append(i.text)
cuisine

#Location
location = []
for i in soup2.find_all('div',class_="restnt-loc ellipsis"):
    location.append(i.text)
location

#Ratings
ratings = []
for i in soup2.find_all('div',class_="restnt-rating rating-4"):
    ratings.append(i.text)
ratings

#Image URL
image_url = []
for i in soup2.find_all('img',class_="no-img"):
    image_url.append(i['data-src'])
image_url

import pandas as pd
df = pd.DataFrame({'Restaurant Name':res_name,'Cuisine':cuisine,'Location':location,'Ratings':ratings,'Image URL':image_url})
df

,Restaurant Name,Cuisine,Location,Ratings,Image URL
0,Castle Barbeque,"₹ 2,000 for 2 (approx) | Chinese, North Indian","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
1,Cafe Knosh,"₹ 3,000 for 2 (approx) | Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
2,India Grill,"₹ 2,400 for 2 (approx) | North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,The Barbeque Company,"₹ 1,700 for 2 (approx) | North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,Delhi Barbeque,"₹ 1,800 for 2 (approx) | North Indian","Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
5,The Monarch - Bar Be Que Village,"₹ 1,900 for 2 (approx) | North Indian","Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
6,Indian Grill Room,"₹ 2,200 for 2 (approx) | North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...
7,The Barbeque Times,"₹ 1,500 for 2 (approx) | North Indian, Contine...","M2K Corporate Park,Sector 51, Gurgaon",4.1,https://im1.dineout.co.in/images/uploads/resta...