# WEB SCRAPING ASSIGNMENT 2(SELENIUM)

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\user\anaconda3\lib\site-packages (4.14.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\user\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\user\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio~=0.17 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: idna in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: cffi>=1.14 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sniffio in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\user\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\user\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\user\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\user\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

QUESTION 1

In [9]:
'''Write a python program to scrape data for ‚ÄúData Analyst‚Äù Job position in ‚ÄúBangalore‚Äù location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter ‚ÄúData Analyst‚Äù in ‚ÄúJob title, Skills‚Äù field and enter ‚ÄúBangalore‚Äù in ‚Äúenter the location‚Äù field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.'''
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [73]:
driver = webdriver.Chrome()

In [74]:
#opening the web page on automated chrome browser
driver.get("https://www.shine.com/")

In [75]:
#entering the designation
designation=driver.find_element(By.CLASS_NAME,"searchBarInput")
designation.send_keys('Data Analyst')

In [76]:
search = driver.find_element(By.CLASS_NAME,"SearchBarRight")
search.click()

In [77]:
designation1 = driver.find_element(By.CLASS_NAME,"form-control  ")
designation1.send_keys('Data Analyst')

In [78]:
designation2 = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
designation2.send_keys('Bangalore')

In [79]:
search2 = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search2.click()

In [80]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [81]:
title_tags = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]/a')
for i in title_tags:
    title = i.text
    job_title.append(title)

In [105]:
location_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location = i.text
    job_location.append(location)

In [106]:
company_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags:
    company = i.text
    company_name.append(company)

In [107]:
experience_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    experience = i.text
    experience_required.append(experience)

In [108]:
j_t = job_title[:10]
j_l = job_location[:10]
c_t = company_name[:10]
e_t = experience_required[:10]

In [109]:
import pandas as pd
df = pd.DataFrame({'Title':j_t,'Location':j_l,'Company_Name':c_t,'Experience_required':e_t})
df

,Title,Location,Company_Name,Experience_required
0,Data Analyst Vacancy,Bangalore\n+14,divya interprises,0 to 4 Yrs
1,Data Analyst Vacancy,Bangalore\n+14,divya interprises,0 to 4 Yrs
2,Clinical Data Analyst,Bangalore\n+4,quiscon biotech,0 to 2 Yrs
3,Data Analyst Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
4,Data Analyst Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
5,Data Analyst Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
6,Data Analyst 1,Bangalore,merck ltd,1 to 3 Yrs
7,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
8,Hiring For Data Analyst,Bangalore\n+14,divya interprises,0 to 4 Yrs
9,Data Analyst,Bangalore\n+9,v-tech data outsourcing,0 to 2 Yrs

QUESTION 2

In [118]:
'''Write a python program to scrape data for ‚ÄúData Scientist‚Äù Job position in‚ÄúBangalore‚Äù location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter ‚ÄúData Scientist‚Äù in ‚ÄúJob title, Skills‚Äù field and enter ‚ÄúBangalore‚Äù in ‚Äúenter thelocation‚Äù field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.'''
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [119]:
driver = webdriver.Chrome()

In [120]:
#opening the web page on automated chrome browser
driver.get("https://www.shine.com/")

In [122]:
#entering the designation
de1=driver.find_element(By.CLASS_NAME,"searchBarInput")
de1.send_keys('Data Scientist')

In [123]:
search = driver.find_element(By.CLASS_NAME,"SearchBarRight")
search.click()

In [124]:
designation1 = driver.find_element(By.CLASS_NAME,"form-control  ")
designation1.send_keys('Data Scientist')

In [125]:
designation2 = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
designation2.send_keys('Bangalore')

In [126]:
search2 = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search2.click()

In [128]:
job_title = []
job_location = []
company_name = []

In [129]:
title_tags = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]/a')
for i in title_tags:
    title = i.text
    job_title.append(title)

In [130]:
location_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location = i.text
    job_location.append(location)

In [131]:
company_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags:
    company = i.text
    company_name.append(company)

In [132]:
j_t1 = job_title[:10]
j_l1 = job_location[:10]
c_t1 = company_name[:10]

In [133]:
import pandas as pd
df = pd.DataFrame({'Title':j_t1,'Location':j_l1,'Company_Name':c_t1})
df

,Title,Location,Company_Name
0,Data Scientist Vacancy,Bangalore\n+14,divya interprises
1,Data Scientist Urgent Recruitment,Bangalore\n+14,divya interprises
2,Data Scientist- Bangalore,Bangalore,the fashion cosmo
3,Data Scientist AI ML CV,Bangalore,bosch group
4,Data Scientist AI ML NLP,Bangalore,bosch group
5,Phd Data Scientist,Bangalore,bosch group
6,Data Scientist-Bangalore,Bangalore,shiva hr services
7,Hiring For Data Scientist,Bangalore\n+14,divya interprises
8,Data Scientist,Bangalore,racanaa energy solution private lim...
9,Staff Data Scientist & Team Lead,Bangalore,true caller

QUESTION 3

In [1]:
'''In this question you have to scrape data using the filters available on the webpage 
You have to use the location and salary filter.
You have to scrape data for ‚ÄúData Scientist‚Äù designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is ‚ÄúDelhi/NCR‚Äù. The salary filter to be used is ‚Äú3-6‚Äù lakhs
The task will be done as shown in the below steps:
1. first get the web page https://www.shine.com/
2. Enter ‚ÄúData Scientist‚Äù in ‚ÄúSkill, Designations, and Companies‚Äù field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scrapeddata.'''
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [11]:
driver = webdriver.Chrome()

In [12]:
#opening the web page on automated chrome browser
driver.get("https://www.shine.com/")

In [13]:
de2=driver.find_element(By.CLASS_NAME,"searchBarInput")
de2.send_keys('Data Scientist')

In [14]:
search = driver.find_element(By.CLASS_NAME,"SearchBarRight")
search.click()

In [15]:
designation2 = driver.find_element(By.CLASS_NAME,"form-control  ")
designation2.send_keys('Data Scientist')

In [16]:
search2 = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search2.click()

In [22]:
search3 = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div/ul/li[1]/button")
search3.click()

In [23]:
designation3 = driver.find_element(By.CLASS_NAME,"form-control")
designation3.send_keys('Delhi')

In [27]:
search4 = driver.find_element(By.CLASS_NAME,"filter_filter_option_item__bvdpQ")
search4.click()

In [28]:
search5 = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]")
search5.click()

In [32]:
search6 = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div/ul/li[3]/button")
search6.click()

In [33]:
designation4 = driver.find_element(By.CLASS_NAME,"form-control")
designation4.send_keys('3 to 5 Lakh')

In [34]:
search7 = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[2]")
search7.click()

In [35]:
search8 = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]")
search8.click()

In [36]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [37]:
title_tags = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]/a')
for i in title_tags:
    title = i.text
    job_title.append(title)

In [38]:
location_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location = i.text
    job_location.append(location)

In [39]:
company_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in company_tags:
    company = i.text
    company_name.append(company)

In [40]:
experience_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    experience = i.text
    experience_required.append(experience)

In [41]:
j_t3 = job_title[:10]
j_l3 = job_location[:10]
c_t3 = company_name[:10]
e_t3 = experience_required[:10]

In [42]:
import pandas as pd
df = pd.DataFrame({'Title':j_t3,'Location':j_l3,'Company_Name':c_t3,'Experience_required':e_t3})
df

,Title,Location,Company_Name,Experience_required
0,Data Scientist- Delhi,Delhi,the fashion cosmo,0 to 3 Yrs
1,Data Scientist-Delhi,Delhi,shiva hr services,0 to 3 Yrs
2,Data Scientist- Delhi,Delhi,the fashion cosmo,0 to 3 Yrs
3,Data Scientist- Delhi,Delhi,the fashion cosmo,0 to 3 Yrs
4,Data Scientist,Delhi\n+4,acme services private limited,3 to 5 Yrs
5,Data Scientist,Delhi\n+6,quiscon biotech,0 to 1 Yr
6,Clinical Data Analyst,Delhi\n+6,techno endura,0 to 1 Yr
7,Data Scientist,Delhi\n+4,acme services private limited,3 to 5 Yrs
8,Data Modeler,Delhi\n+9,v-tech data outsourcing,0 to 2 Yrs
9,Biostatistician,Delhi\n+17,national seeds corporation limited,1 to 6 Yrs

QUESTION 4

In [ ]:
'''Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url :https://www.flipkart.com/
2. Enter ‚Äúsunglasses‚Äù in the search fieldwhere ‚Äúsearch for products, brands and more‚Äù is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the ‚ÄúNext‚Äù Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100sunglasses.'''
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [43]:
driver = webdriver.Chrome()

In [44]:
#opening the web page on automated chrome browser
driver.get("https://www.flipkart.com/")

In [45]:
de_2=driver.find_element(By.CLASS_NAME,"Pke_EE")
de_2.send_keys('sunglasses')

In [46]:
search = driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [134]:
brands_4 = []
prices_2 = []
pro_descs_7 = []

In [147]:
brand_tags1 = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags1:
    brand = i.text
    brands_4.append(brand)

In [148]:
price_tags1 = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags1:
    price = i.text
    prices_2.append(price)

In [149]:
pro_tags1 = driver.find_elements(By.XPATH,'//a[@class ="IRpwTa"]')
for i in pro_tags1:
    pro_desc = i.text
    pro_descs_7.append(pro_desc)

In [150]:
print(len(brands_4),len(prices_2),len(pro_descs_7))

120 120 120

In [151]:
import pandas as pd
df = pd.DataFrame({'Brands':brands_4,'Product Description':pro_descs_7,'Prices':prices_2})
df

            Brands                                Product Description  Prices
0    VINCENT CHASE  Polarized, UV Protection Retro Square Sunglass...    ‚Çπ703
1    VINCENT CHASE         UV Protection Retro Square Sunglasses (53)    ‚Çπ499
2       iCopertina   UV Protection Rectangular Sunglasses (Free Size)    ‚Çπ199
3         Fastrack             UV Protection Wayfarer Sunglasses (58)    ‚Çπ549
4             SRPM             UV Protection Wayfarer Sunglasses (50)    ‚Çπ149
..             ...                                                ...     ...
115  VINCENT CHASE  by Lenskart Polarized, UV Protection Rectangul...    ‚Çπ749
116      ROYAL SON   Polarized, UV Protection Aviator Sunglasses (64)    ‚Çπ679
117    Eyewearlabs   Polarized, UV Protection Aviator Sunglasses (58)  ‚Çπ1,999
118       Roadster                   Gradient Aviator Sunglasses (58)    ‚Çπ199
119  VINCENT CHASE  by Lenskart Polarized, UV Protection Wayfarer ...    ‚Çπ526

[120 rows x 3 columns]

QUESTION 5

In [29]:
'''Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market
place=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.'''
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [30]:
driver = webdriver.Chrome()

In [31]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZE3ENS&marketplace=FLIPKART")

In [33]:
ratings = []
rev_summary = []
full_review = []

In [97]:
rating_tags1 = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags1:
    rating = i.text
    ratings.append(rating)

In [98]:
r_s1 = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in r_s1:
    rev_sum = i.text
    rev_summary.append(rev_sum)

In [99]:
f_r1 = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in f_r1:
    f_rev = i.text
    full_review.append(f_rev)

In [100]:
print(len(ratings))

100

In [101]:
print(len(rev_summary))

100

In [102]:
print(len(full_review))

100

In [103]:
import pandas as pd
df = pd.DataFrame({'Ratings':ratings,'Review Summary':rev_summary,'Full Review':full_review})
df

,Ratings,Review Summary,Full Review
0,5,Highly recommended,Awesome Battery Life...Camera clarity is too g...
1,5,Best in the market!,Good Camera
2,5,Worth every penny,Feeling awesome after getting the delivery of ...
3,5,Terrific purchase,Value for money üòç
4,5,Classy product,Photos super
...,...,...,...
95,5,Highly recommended,Thanks Flipkart For this amazing deal! I had a...
96,5,Wonderful,Quality camera
97,4,Very Good,I switched to IOS for long term use and for be...
98,5,Classy product,Outstanding performance this phone
99,3,Good,only the name worth it with d price.

QUESTION 6

In [16]:
'''Scrape data forfirst 100 sneakers you find whenyou visit flipkart.com and search for ‚Äúsneakers‚Äù inthe
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price'''
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [17]:
driver = webdriver.Chrome()

In [18]:
driver.get("https://www.flipkart.com/")

In [19]:
de_3=driver.find_element(By.CLASS_NAME,"Pke_EE")
de_3.send_keys('sneakers')

In [20]:
search = driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [21]:
brands = []
prices = []
pro_descs = []

In [32]:
brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags:
    brand = i.text
    brands.append(brand)

In [33]:
price_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags:
    price = i.text
    prices.append(price)

In [34]:
pro_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in pro_tags:
    pro_desc = i.text
    pro_descs.append(pro_desc)

In [35]:
print(len(brands),len(prices),len(pro_descs))

120 120 120

In [36]:
import pandas as pd
df = pd.DataFrame({'Brands':brands,'Product Description':pro_descs,'Prices':prices})
df

,Brands,Product Description,Prices
0,BRUTON,Combo Pack Of 2 Casual Shoes for mens Sneakers...,‚Çπ497
1,BRUTON,!Combo Pack Of 2 Casual Shoes! Sneakers For Men,‚Çπ497
2,URBANBOX,Trending Stylish Casual Outdoor Sneakers Shoes...,‚Çπ299
3,Layasa,Sneakers For Men,‚Çπ299
4,aadi,Synthetic Leather |Lightweight|Comfort|Summer|...,‚Çπ289
...,...,...,...
115,RED TAPE,"Casual Sneakers For Men | Comfortable, Shock A...","‚Çπ1,319"
116,ROTHAR,Sneakers For Men,‚Çπ799
117,SOLETHREADS REBEL,Multicolored Red And White Jordan Retro 4 Foot...,‚Çπ989
118,PUMA,Smash V2 Buck Sneakers For Men,"‚Çπ2,249"
119,RED TAPE,Sneaker Casual Shoes for Men | Soft Cushioned ...,"‚Çπ1,269"

QUESTION 7

In [8]:
'''Go to webpage https://www.amazon.in/ Enter ‚ÄúLaptop‚Äù in the search field and then click the search icon. Then
set CPU Type filter to ‚ÄúIntel Core i7‚Äù
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price'''
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time
from bs4 import BeautifulSoup
import requests

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get("https://www.amazon.in/")

In [4]:
de_4=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
de_4.send_keys('Laptop')

In [5]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [6]:
search4 = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/span[9]/li/span/a/div")
search4.click()

In [26]:
titles = []
prices = []
ratings = []

In [31]:
titles_tags = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in titles_tags:
    title = i.text
    titles.append(title)

In [32]:
prices_tags = driver.find_elements(By.XPATH,'//span[@class = "a-price-whole"]')
for i in prices_tags:
    price = i.text
    prices.append(price)

In [33]:
ratings_tags = driver.find_elements(By.XPATH,'//i[@class="a-icon a-icon-star-small a-star-small-3-5 aok-align-bottom"]/span')
for i in ratings_tags:
    rating = i.text
    ratings.append(rating)

In [34]:
t_t = titles[:10]
p_t = prices[:10]
r_t = ratings[:10]

In [35]:
print(len(t_t),len(p_t),len(r_t))

10 10 10

In [36]:
import pandas as pd
df = pd.DataFrame({'Titles':t_t,'Prices(in rupees)':p_t,'Ratings':r_t})
df

                                              Titles Prices(in rupees) Ratings
0  HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...            63,990
1  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...            49,990
2  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...            57,990
3  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...            64,990
4  ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...            75,990
5  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...            60,990
6  Acer Aspire Lite Premium Metal Laptop 11th Gen...            47,990
7  ASUS TUF Gaming F15, 15.6-inch (39.62 cms) FHD...            85,990
8  Lenovo IdeaPad Slim 3 Intel Core i7 11th Gen 1...            52,990
9  Dell Inspiron 5430 Laptop, Intel Core i7-1360P...            84,990

QUESTION 8

In [79]:
'''Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes'''
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [80]:
driver = webdriver.Chrome()

In [81]:
driver.get("https://www.azquotes.com/")

In [82]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
search.click()

In [83]:
quotes = []
authors = []
type_of_quotes = []

In [84]:
quotes_tags = driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quotes_tags:
    quote = i.text
    quotes.append(quote)

In [85]:
print(len(quotes))

100

In [86]:
authors_tags = driver.find_elements(By.XPATH,'//div[@class="author"]/a')
for i in authors_tags:
    author = i.text
    authors.append(author)

In [87]:
print(len(authors))

100

In [88]:
type_of_quote_tags = driver.find_elements(By.XPATH,'//div[@class="tags"]/a[1]')
for i in type_of_quote_tags:
    type_of_quote = i.text
    type_of_quotes.append(type_of_quote)

In [89]:
print(len(type_of_quotes))

100

In [90]:
import pandas as pd
df = pd.DataFrame({'Quotes':quotes,'Authors':authors,'Type of Quotes':type_of_quotes})
df

,Quotes,Authors,Type of Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,Essence
1,One cannot and must not try to erase the past ...,Golda Meir,Inspiration
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,Country
3,Death is something inevitable. When a man has ...,Nelson Mandela,Inspirational
4,You have to love a nation that celebrates its ...,Erma Bombeck,4th Of July
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,Music
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,Trust
97,If you think you are too small to make a diffe...,Dalai Lama,Inspirational
98,"God doesn't require us to succeed, he only req...",Mother Teresa,Success
99,Change your thoughts and you change your world.,Norman Vincent Peale,Inspirational

QUESTION 9

In [91]:
''': Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.'''
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [92]:
driver = webdriver.Chrome()

In [93]:
driver.get("https://www.jagranjosh.com/")

In [94]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/header/nav/div/div/div[3]/ul/li[6]/a")
search.click()

In [95]:
search_1 = driver.find_element(By.XPATH,"/html/body/div[2]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
search_1.click()

In [103]:
l = driver.find_elements(By.XPATH,"//*[@class='table-box']/table/tbody/tr")
print(len(l))

21

In [108]:
u = driver.find_elements(By.XPATH,"//*[@class='table-box']/table/tbody/tr[3]/td")
for i in u:
    print(i.text)

2.
Gulzarilal Nanda (Acting)
(1898-1998)
27 May 1964 to 9 June 1964,
13 days
First acting PM of India

In [105]:
h = driver.find_elements(By.XPATH,"//*[@class='table-box']/table/tbody/tr[1]/th")
for i in h:
    print(i.text)

S.N.
PM Name
Born-Dead
Term of office
Remark

In [122]:
r = driver.find_elements(By.XPATH,"//*[@class='table-box']/table[1]/tbody/tr")
c = driver.find_elements(By.XPATH,"//*[@class='table-box']/table[1]/tbody/tr[2]/td")
rc = len(r)
cc = len(c)
for i in range(2,rc+1):
    for j in range(1,cc+1):
        d = driver.find_element(By.XPATH,"//tr["+str(i)+"]/td["+str(j)+"]").text
        print(d)

1.
Jawahar Lal Nehru
(1889‚Äì1964)
15 August 1947 to 27 May 1964
16 years, 286 days
The first prime minister of India and the longest-serving PM of India, the first to die in office.
2.
Gulzarilal Nanda (Acting)
(1898-1998)
27 May 1964 to 9 June 1964,
13 days
First acting PM of India
3.
Lal Bahadur Shastri
(1904‚Äì1966)
9 June 1964 to 11 January 1966
1 year, 216 days
He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965
4.
Gulzari Lal Nanda  (Acting)
(1898-1998)
11 January 1966 to 24 January 1966
13 days
-
5.
Indira Gandhi
(1917‚Äì1984)
24 January 1966 to 24 March 1977
11 years, 59 days
First female Prime Minister of India
6.
Morarji Desai
(1896‚Äì1995)
24 March 1977 to  28 July 1979
2 year, 126 days
Oldest to become PM (81 years old) and first to resign from office
7.
Charan Singh
(1902‚Äì1987)
28 July 1979 to 14 January 1980
170 days
Only PM who did not face the Parliament
8.
Indira Gandhi
(1917‚Äì1984)
14 January 1980 to 31 October 1984
4 years, 291 days
The first lady who served as PM for the second term
9.
Rajiv Gandhi
(1944‚Äì1991)
31 October 1984 to 2 December 1989
5 years, 32 days
Youngest to become PM (40 years old)
10.
V. P. Singh
(1931‚Äì2008)
2 December 1989 to 10 November 1990
343 days
First PM to step down after a vote of no confidence
11.
Chandra Shekhar
(1927‚Äì2007)
10 November 1990 to 21 June 1991
223 days
He belongs to  Samajwadi Janata Party
12.
P. V. Narasimha Rao
(1921‚Äì2004)
21 June 1991 to 16 May 1996
4 years, 330 days
First PM from South India
13.
Atal Bihari Vajpayee
(1924- 2018)
16 May 1996 to 1 June 1996
16 days
PM for shortest tenure
14.
H. D. Deve Gowda
(born 1933)
1 June 1996 to 21 April 1997
324 days
He belongs to  Janata Dal
15.
Inder Kumar Gujral
(1919‚Äì2012)
21 April 1997 to 19 March 1998
332 days
------
16.
Atal Bihari Vajpayee
(1924-2018)
19 March 1998 to 22 May 2004
6 years, 64 days
 The first non-congress PM who completed a full term as PM
17.
Manmohan Singh
(born 1932)
22 May 2004 to 26 May 2014
10 years, 4 days
 First Sikh PM
18.
Narendra Modi
(born 1950)
26 May 2014 - 2019
4th Prime Minister of India who served two consecutive tenures
19.
Narendra Modi
(born 1950)
30 May 2019- Incumbent
First non-congress PM with two consecutive tenures

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//tr[21]/td[1]"}
  (Session info: chrome=118.0.5993.120); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
	GetHandleVerifier [0x00007FF704A78EF2+54786]
	(No symbol) [0x00007FF7049E5612]
	(No symbol) [0x00007FF70489A64B]
	(No symbol) [0x00007FF7048DB79C]
	(No symbol) [0x00007FF7048DB91C]
	(No symbol) [0x00007FF704916D87]
	(No symbol) [0x00007FF7048FBEAF]
	(No symbol) [0x00007FF704914D02]
	(No symbol) [0x00007FF7048FBC43]
	(No symbol) [0x00007FF7048D0941]
	(No symbol) [0x00007FF7048D1B84]
	GetHandleVerifier [0x00007FF704DC7F52+3524194]
	GetHandleVerifier [0x00007FF704E1D800+3874576]
	GetHandleVerifier [0x00007FF704E15D7F+3843215]
	GetHandleVerifier [0x00007FF704B15086+694166]
	(No symbol) [0x00007FF7049F0A88]
	(No symbol) [0x00007FF7049ECA94]
	(No symbol) [0x00007FF7049ECBC2]
	(No symbol) [0x00007FF7049DCC83]
	BaseThreadInitThunk [0x00007FFD62C9257D+29]
	RtlUserThreadStart [0x00007FFD62DEAA78+40]

In [124]:
#Data taken from the above output..
remarks = ['The first prime minister of India and the longest-serving PM of India, the first to die in office.',
'First acting PM of India',
"He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
'-',
'First female Prime Minister of India',
'Oldest to become PM (81 years old) and first to resign from office',
'Only PM who did not face the Parliament',
'The first lady who served as PM for the second term',
'Youngest to become PM (40 years old)',
'First PM to step down after a vote of no confidence',
'He belongs to  Samajwadi Janata Party',
'First PM from South India',
'PM for shortest tenure',
'He belongs to  Janata Dal',
'------',
'The first non-congress PM who completed a full term as PM',
'First Sikh PM',
'4th Prime Minister of India who served two consecutive tenures',
'First non-congress PM with two consecutive tenures']
term_of_office = ['15 August 1947 to 27 May 1964-16 years- 286 days',
'27 May 1964 to 9 June 1964-13 days',
'9 June 1964 to 11 January 1966 1 year- 216 days',
'11 January 1966 to 24 January 1966 - 13 days',
'24 January 1966 to 24 March 1977 - 11 years 59 days',
'24 March 1977 to  28 July 1979 - 2 year 126 days',
'28 July 1979 to 14 January 1980 - 170 days',
'14 January 1980 to 31 October 1984 - 4 years 291 days',
'31 October 1984 to 2 December 1989 - 5 years 32 days',
'2 December 1989 to 10 November 1990 - 343 days',
'10 November 1990 to 21 June 1991 - 223 days',
'21 June 1991 to 16 May 1996 4 years - 330 days',
'16 May 1996 to 1 June 1996 - 16 days',
'1 June 1996 to 21 April 1997 - 324 days',
'21 April 1997 to 19 March 1998 - 332 days',
'19 March 1998 to 22 May 2004 6 years - 64 days',
'22 May 2004 to 26 May 2014 10 years - 4 days',
'26 May 2014 - 2019',
'30 May 2019- Incumbent',]
name = ['Jawahar Lal Nehru','Gulzarilal Nanda (Acting)','Lal Bahadur Shastri','Gulzari Lal Nanda','Indira Gandhi','Morarji Desai','Charan Singh','Indira Gandhi','Rajiv Gandhi','V. P. Singh','Chandra Shekhar','P. V. Narasimha Rao','Atal Bihari Vajpayee','H. D. Deve Gowda','Inder Kumar Gujral','Atal Bihari Vajpayee','Manmohan Singh','Narendra Modi','Narendra Modi']
born_dead = ['(1889‚Äì1964)','(1898-1998)','(1904‚Äì1966)','(1898-1998)','(1917‚Äì1984)','(1896‚Äì1995)','(1902‚Äì1987)','(1917‚Äì1984)','(1944‚Äì1991)','(1931‚Äì2008)','(1927‚Äì2007)','(1921‚Äì2004)','(1924- 2018)','(born 1933)','(1919‚Äì2012)','(1924-2018)','(born 1932)','(born 1950)','(born 1950)']
import pandas as pd
df = pd.DataFrame({'Name':name,'Born-Dead':born_dead,'Term of Office':term_of_office,'Remarks':remarks})
df

,Name,Born-Dead,Term of Office,Remarks
0,Jawahar Lal Nehru,(1889‚Äì1964),15 August 1947 to 27 May 1964-16 years- 286 days,The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),27 May 1964 to 9 June 1964-13 days,First acting PM of India
2,Lal Bahadur Shastri,(1904‚Äì1966),9 June 1964 to 11 January 1966 1 year- 216 days,He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda,(1898-1998),11 January 1966 to 24 January 1966 - 13 days,-
4,Indira Gandhi,(1917‚Äì1984),24 January 1966 to 24 March 1977 - 11 years 59...,First female Prime Minister of India
5,Morarji Desai,(1896‚Äì1995),24 March 1977 to 28 July 1979 - 2 year 126 days,Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902‚Äì1987),28 July 1979 to 14 January 1980 - 170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917‚Äì1984),14 January 1980 to 31 October 1984 - 4 years 2...,The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944‚Äì1991),31 October 1984 to 2 December 1989 - 5 years 3...,Youngest to become PM (40 years old)
9,V. P. Singh,(1931‚Äì2008),2 December 1989 to 10 November 1990 - 343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927‚Äì2007),10 November 1990 to 21 June 1991 - 223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921‚Äì2004),21 June 1991 to 16 May 1996 4 years - 330 days,First PM from South India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996 - 16 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997 - 324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919‚Äì2012),21 April 1997 to 19 March 1998 - 332 days,------
15,Atal Bihari Vajpayee,(1924-2018),19 March 1998 to 22 May 2004 6 years - 64 days,The first non-congress PM who completed a full...
16,Manmohan Singh,(born 1932),22 May 2004 to 26 May 2014 10 years - 4 days,First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - 2019,4th Prime Minister of India who served two con...
18,Narendra Modi,(born 1950),30 May 2019- Incumbent,First non-congress PM with two consecutive ten...

QUESTION 10

In [20]:
''' Write a python program to display list of 50 Most expensive cars in the world (i.e.
Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ‚Äô50 most expensive cars‚Äô
3. Then click on 50 most expensive cars in the world.
4. Then scrap the mentioned data and make the dataframe.'''
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time
from bs4 import BeautifulSoup
import requests

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get("https://www.motor1.com/")

In [4]:
de_5=driver.find_element(By.XPATH,"/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input")
de_5.send_keys('50 most expensive cars')

In [5]:
search = driver.find_element(By.XPATH,"/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]")
search.click()

In [6]:
search_1 = driver.find_element(By.XPATH,"/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]")
search_1.click()

In [27]:
page = requests.get('https://www.motor1.com/features/308149/most-expensive-new-cars-ever/')
soup = BeautifulSoup(page.content)
car_name = []
for i in soup.find_all('h3',class_="subheader"):
    car_name.append(i.text)

In [25]:
c_n = car_name[:50]

In [28]:
import pandas as pd
df = pd.DataFrame({'CARS':c_n})
df

                                  CARS
0                  Aston Martin Valour
1                         McLaren Elva
2                          Czinger 21C
3                        Ferrari Monza
4                   Gordon Murray T.33
5                    Koenigsegg Gemera
6                          Zenvo TSR-S
7                   Hennessey Venom F5
8                      Bentley Bacalar
9        Hispano Suiza Carmen Boulogne
10              Bentley Mulliner Batur
11                        Deus Vayanne
12                         SSC Tuatara
13                         Lotus Evija
14                 Aston Martin Vulcan
15                          Delage D12
16                 Ferrari Daytona SP3
17                   McLaren Speedtail
18                        Rimac Nevera
19                       Pagani Utopia
20                Pininfarina Battista
21                  Gordon Murray T.50
22                Lamborghini Countach
23            Mercedes-AMG Project One
24                        Zenvo Aurora
25                 Aston Martin Victor
26         Hennessey Venom F5 Roadster
27                    Koenigsegg Jesko
28               Aston Martin Valkyrie
29           W Motors Lykan Hypersport
30                       McLaren Solus
31                    Lamborghini Sian
32                    Koenigsegg CC850
33     Bugatti Chiron Super Sport 300+
34                  Lamborghini Veneno
35                      Bugatti Bolide
36           Pininfarina B95 Speedster
37                     Bugatti Mistral
38                 Pagani Huayra Imola
39                        Bugatti Divo
40                 SP Automotive Chaos
41                    Pagani Codalunga
42                        777 Hypercar
43            Mercedes-Maybach Exelero
44                  Bugatti Centodieci
45             Bugatti Chiron Profil√©e
46                Rolls-Royce Sweptail
47            Bugatti La Voiture Noire
48              Rolls-Royce Boat Tail*
49  Rolls-Royce La Rose Noire Droptail